.main-container {
    margin: 15px 12px;
    margin-bottom: 75px;
    min-width: 259px;
  }

.right-side-container {
        margin-bottom: 15px;
        max-height: 112px;
        overflow: hidden;
        transition: var(--transition-2);
}

.avatar-box {
    background: var(--bg-gradient-onyx);
    border-radius: 20px;
  }

.right-side-info {
position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.right-side-container,
.side-tab {
  background: var(--eerie-black-2);
  border: 1px solid var(--jet);
  border-radius: 20px;
  padding: 15px;
  box-shadow: var(--shadow-1);
  z-index: 1;
}






  @media (min-width: 580px) {

    :root {

        /**
         * typography
         */
    
        --fs-1: 32px;
        --fs-2: 24px;
        --fs-3: 26px;
        --fs-4: 18px;
        --fs-6: 15px;
        --fs-7: 15px;
        --fs-8: 12px;
    
      }

      .main-container {
        margin-top: 60px;
        margin-bottom: 100px;
      }




  }



  @media (min-width: 1024px) {
    :root {

        /**
        * shadow
        */
    
        --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.125);
        --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.125);
        --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.125);
    
      }


      .main-container { margin-bottom: 60px; }
  }


  @media (min-width: 1250px) {

    /**
     * RESET
     */
  
    body::-webkit-scrollbar { width: 20px; }
  
    body::-webkit-scrollbar-track { background: var(--smoky-black); }
  
    body::-webkit-scrollbar-thumb {
      border: 5px solid var(--smoky-black);
      background: hsla(0, 0%, 100%, 0.1);
      border-radius: 20px;
      box-shadow: inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
                  inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
    }
  
    body::-webkit-scrollbar-thumb:hover { background: hsla(0, 0%, 100%, 0.15); }
  
    body::-webkit-scrollbar-button { height: 60px; } 



    .main-container {
        max-width: 1200px;
        margin-inline: auto;
        display: flex;
        justify-content: center;
        align-items: stretch;
        gap: 25px;
      }






}